<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/sticky-footer.css" rel="stylesheet" media="screen">
	</head>
	<body>
	<div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Evan Framework</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Sticky footer with fixed navbar</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

      </div>
    </div>
	<div id="footer">
      <div class="container">
	    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#info">
	 	Show Information
		</button>
      	<div id="info" class="collapse">
				<div class="row">
					<div class="span6">
						<table class="table">
							<tbody>
								<tr>
									<td>Method</td>
									<td>{{ request.method }}</td>
								</tr>
								<tr>
									<td>Uri</td>
									<td>{{ request.uri }}</td>
								</tr>
								<tr>
									<td>Browser Lang</td>
									<td>{{ request.BrowserLang }}</td>
								</tr>
								<tr>
									<td>Memory Usage</td>
									<td>{{ memory_usage }}</td>
								</tr>
								<tr>
									<td>Memory Peak</td>
									<td>{{ memory_peak }}</td>
								</tr>
								<tr>
									<td>Execution Time</td>
									<td>{{ execution_time }}</td>
								</tr>
							</tnody>
						</table>
						</div>
						<div class="span3 offset1">
							{% if events_triggered|length > 0 %}
							<h4>Events Triggered:</h4>
							<ul>
								{% for event in events_triggered %}
									<li>{{ event.alias }} called with {{ event.event }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							{% if route_schema|length > 0 %}
							<h4>Existing Routes</h4>
							<ul>
								{% for route in route_schema %}
									<li>route : {{ route.route }}
										<ul>
											<li>Controller: "{{ route.controller}}"</li>
											<li>Methods: "{{ route.methods}}"</li>
											<li>Action: "{{ route.action}}"</li>
										</ul>
									</li>
								{% endfor %}
							</ul>
							{% endif %}
						</div>
					</div>
				</div>
      </div>
    </div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/respond.min.js"></script>
	</body>
</html>